{
    "presets": [
        [
            "@babel/preset-env",
            {
                "targets": {
                    "node": true
                }
            }
        ],
        [
            "minify",
            {
                "mangle": false
            }
        ]
    ],
    "plugins": [
        "@babel/plugin-transform-destructuring"
    ]
}